* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right, #fae9b1, #fff7d5, #fffcfa);
    font-family: sans-serif;
}

header {
    display: flex;
    padding: 20px;
    /* background-color: #fc8d59; */
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    /* margin-left: 600px; */
    flex-wrap: wrap;


}

li {
    display: inline;
    /* margin-left: 50px; */
    margin-left: 20px;
}

.site-logo {
    width: 100px;
    object-fit: contain;
}

.cont-btn {
    border-radius: 20px;
    width: 100px;
    height: 30px;
    background: linear-gradient(to right, #fff352, #fc8d59, #ff5100);
    color: white;
    border: 1px solid #fd9b83;
}


/* INtro section */
.hero-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
}

.hero-img>img {
    width: 400px;
}

.hero-content {
    width: 400px;
}

.hero-content h1 {
    font-size: 40px;
    margin-bottom: 30px;
    font-weight: bolder;
}

.hero-content h4 {
    font-size: 18px;
    margin-bottom: 40px;
}

.hero-content button {
    border-radius: 20px;
    width: 150px;
    height: 40px;
    background: linear-gradient(to right, #ff5100, #fc8d59, #fff352);
    color: white;
    border: 1px solid #fd9b83;

}


@media only screen and (max-width: 366px) {
    .hero-img>img {
        width: 250px;
    }

    .hero-content h1 {
        font-size: 25px;
    }

    .hero-content h4 {
        font: size 10px;
        font-weight: lighter;

    }


}